@{
    ViewBag.Title = "Boxing Championship";
}

<div class="jumbotron">
    <h1>Boxing Championship Homepage</h1>
    <p class="lead">This web site is developed to manage boxing championships</p>
</div>

